.bg-g {
	background: linear-gradient(270.16deg, var(--px-theme-2) 5.74%, var(--px-theme) 92.05%);
}

.bg-dark {
	background: linear-gradient(177deg, #DDD0C8 0%, #99775C 130%);
}

// Narvik (#EAE7DD), Sorrell brown (#99775C)

// Beige (#DDD0C8), dark grey (#323232)

.u {
	color: #EAE7DD;
	color: #DDD0C8;
}