:root {
  --bs-heading-color: var(--px-heading);
}

:root,
[data-bs-theme="light"] {
  --px-theme: #{$px-theme};
  --px-theme-2: #{$px-theme-2};
  --px-white: #{$px-white};
  --px-white-rgb: 255, 255, 255;
  --px-theme-light: #{$px-theme-light};
  --px-text: #{$px-text};
  --px-heading: #{$px-heading};
  --px-bg: #{$px-bg};
  --px-dark: #{$px-dark};
  --px-gradient-light: #{$px-gradient-light};
}

[data-bs-theme="dark"] {
}

@media screen and (max-width: 992px) {
  [data-aos^="fade"][data-aos^="fade"].aos-animate.hb-me {
    right: -35px;
    opacity: 0.5;
  }
}
