@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

$px-font: "IBM Plex Sans", sans-serif !important;

// Theme Variable
// color: linear-gradient(270.16deg,rgb(255 174 112 / 72%) 5.74%,#ffae62 92.05%) ;

// $px-theme: #9c714ce6; rgba(156, 113, 76, 0.5725490196)
// $px-theme-2: #9c714c92;  rgba(156, 113, 76, 0.5725490196)
$px-theme: #9c714c92;
$px-theme-2: #9c714c92;
$px-theme-3: #9c714c;
$px-theme-light: #b8916e;
$px-theme-lighter: #ddb796;
// $px-theme-2: #573920;
$px-white: #fffdf8;

$px-text: #f3ebeb;
$px-heading: #f3ebeb;
// $px-bg: #99775c;
$px-bg: #303030;
// $px-bg: #100e24;
$px-dark: #433931; // header
$px-dark-2: #3e2009;
$px-gradient-light: linear-gradient(90deg, var(--px-theme) 0%, var(--px-theme-light)100%);
// Breakpoints
$px-media-xsm: 567px !default;
$px-media-sm: 767px !default;
$px-media-md: 991px !default;
$px-media-lg: 1200px !default;
